---
import Base from "../layouts/Base.astro";

import CattoLogo from "../assets/logo_white.svg";
import CattoLogotype from "../assets/logotype_white.svg";

import Link from "../components/global/Link.jsx";
---

<Base>
    <main class="mt-16 mb-12">
        <section id="about" class="gap-y-16 flex flex-col">
            <h2 class="text-3xl font-semibold">Brand assets and guidelines</h2>

            <section id="agreement" class="gap-y-8 flex flex-col">
                <div class="flex flex-col gap-y-2">
                    <h3 class="text-2xl">Trademark Usage Agreement</h3>
                    <p class="">
                        catto.labs, Pokaimon, and Pawnote names and logos are
                        trademarks of catto labs.
                    </p>
                    <p></p>
                    <p>
                        You may not use the catto labs and/or our products name
                        in any way that could mistakenly imply any official
                        connection with or endorsement of catto labs. Any use of
                        the catto labs name and/or products in a manner that
                        could cause customer confusion is not permitted.
                    </p>
                    <p></p>
                    <p>
                        This includes naming a product or service in a way that
                        emphasizes our brand, like "Pawnote Extensions" or
                        "Pokaimon Mods", as well as in domain names like
                        "cattolabsteam.com"
                    </p>
                    <p></p>
                    <p>
                        Instead, you should use your own brand name in a way
                        that clearly distinguishes it from catto labs and our
                        products. Examples that are permitted include
                        "Extensions for Pawnote" or "Pokaimods: Mods for
                        Pokaimon".
                    </p>
                    <p></p>
                    <p>
                        Additionally, you may not use our trademarks for
                        t-shirts, stickers, or other merchandise without
                        explicit written consent.
                    </p>
                </div>
            </section>

            <section id="assets" class="gap-y-8 flex flex-col">
                <div class="flex flex-col gap-y-2">
                    <h3 class="text-2xl">Assets</h3>
                    <p class="">
                        These assets are provided for use in situations like
                        articles, video tutorials, or for featuring on your
                        website. They should not be used in any way that could
                        be confusing for customers or imply any affiliation with
                        catto labs.
                    </p>
                    <p></p>
                    <p>
                        If appropriate, you MAY recolour the catto.labs logo to
                        match your website, but please try to refrain from doing
                        so.
                    </p>
                    <p></p>
                    <div
                        class="mt-2 flex flex-col gap-y-8 md:gap-y-0 sm:flex-row justify-between md:justify-start gap-x-8 lg:gap-x-16"
                    >
                        <div class="mt-2 flex flex-col gap-y-6">
                            <h4 class="text-xl">Logo</h4>
                            <div
                                class="p-8 sm:p-2 md:p-4 lg:p-8 border-2 relative border-surface1 bg-[url(https://assets-global.website-files.com/6257adef93867e50d84d30e2/62594f6abf11bb058da52ecb_bg.png)] w-fit rounded-lg"
                            >
                                <img src={CattoLogo} class="h-32" />
                                <div
                                    class="absolute bottom-2 right-2 flex gap-x-3"
                                >
                                    <Link
                                        text=".png"
                                        url="https://raw.githubusercontent.com/catto-labs/brand/main/catto-labs/marks-types/marks/cattolabs-mark-white-1024w.png"
                                    />
                                    <Link
                                        text=".svg"
                                        url="https://raw.githubusercontent.com/catto-labs/brand/main/catto-labs/marks-types/marks/cattolabs-mark-white.svg"
                                    />
                                </div>
                            </div>
                            <div
                                class="p-8 sm:p-2 md:p-4 lg:p-8 border-2 relative border-surface1 bg-[url(https://assets-global.website-files.com/6257adef93867e50d84d30e2/625950f8da1880cda1a94346_bg-w.png)] w-fit rounded-lg"
                            >
                                <img
                                    src="https://raw.githubusercontent.com/catto-labs/brand/main/catto-labs/marks-types/marks/cattolabs-mark-black.svg"
                                    class="h-32"
                                />
                                <div
                                    class="absolute bottom-2 right-2 flex gap-x-3"
                                >
                                    <Link
                                        text=".png"
                                        url="https://raw.githubusercontent.com/catto-labs/brand/main/catto-labs/marks-types/marks/cattolabs-mark-black-1024w.png"
                                    />
                                    <Link
                                        text=".svg"
                                        url="https://raw.githubusercontent.com/catto-labs/brand/main/catto-labs/marks-types/marks/cattolabs-mark-black.svg"
                                    />
                                </div>
                            </div>
                            <div
                                class="p-8 sm:p-2 md:p-4 lg:p-8 border-2 relative border-surface1 bg-[url(https://assets-global.website-files.com/6257adef93867e50d84d30e2/62594f6abf11bb058da52ecb_bg.png)] w-fit rounded-lg"
                            >
                                <img
                                    src="https://raw.githubusercontent.com/catto-labs/brand/main/catto-labs/marks-types/marks/cattolabs-mark-coloured.svg"
                                    class="h-32"
                                />
                                <div
                                    class="absolute bottom-2 right-2 flex gap-x-3"
                                >
                                    <Link
                                        text=".png"
                                        url="https://raw.githubusercontent.com/catto-labs/brand/main/catto-labs/marks-types/marks/cattolabs-mark-coloured-1024w.png"
                                    />
                                    <Link
                                        text=".svg"
                                        url="https://raw.githubusercontent.com/catto-labs/brand/main/catto-labs/marks-types/marks/cattolabs-mark-coloured.svg"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="mt-2 flex flex-col gap-y-6">
                            <h4 class="text-xl">Logotype</h4>
                            <div
                                class="relative p-2 md:p-4 lg:p-8 border-2 border-surface1 bg-[url(https://assets-global.website-files.com/6257adef93867e50d84d30e2/62594f6abf11bb058da52ecb_bg.png)] w-fit rounded-lg"
                            >
                                <img src={CattoLogotype} class="h-32" />
                                <div
                                    class="absolute bottom-2 right-2 flex gap-x-3"
                                >
                                    <Link
                                        text=".png"
                                        url="https://raw.githubusercontent.com/catto-labs/brand/main/catto-labs/logotype/cattolabs-logotype-white-1024w.png"
                                    />
                                    <Link
                                        text=".svg"
                                        url="https://raw.githubusercontent.com/catto-labs/brand/main/catto-labs/logotype/cattolabs-logotype-white.svg"
                                    />
                                </div>
                            </div>
                            <div
                                class="relative p-2 md:p-4 lg:p-8 border-2 border-surface1 bg-[url(https://assets-global.website-files.com/6257adef93867e50d84d30e2/625950f8da1880cda1a94346_bg-w.png)] w-fit rounded-lg"
                            >
                                <img
                                    src="https://raw.githubusercontent.com/catto-labs/brand/main/catto-labs/logotype/cattolabs-logotype-black.svg"
                                    class="h-32"
                                />
                                <div
                                    class="absolute bottom-2 right-2 flex gap-x-3"
                                >
                                    <Link
                                        text=".png"
                                        url="https://raw.githubusercontent.com/catto-labs/brand/main/catto-labs/logotype/cattolabs-logotype-black-1024w.png"
                                    />
                                    <Link
                                        text=".svg"
                                        url="https://raw.githubusercontent.com/catto-labs/brand/main/catto-labs/logotype/cattolabs-logotype-black.svg"
                                    />
                                </div>
                            </div>
                            <div
                                class="relative p-2 md:p-4 lg:p-8 border-2 border-surface1 bg-[url(https://assets-global.website-files.com/6257adef93867e50d84d30e2/62594f6abf11bb058da52ecb_bg.png)] w-fit rounded-lg"
                            >
                                <img
                                    src="https://raw.githubusercontent.com/catto-labs/brand/main/catto-labs/logotype/cattolabs-logotype-coloured.svg"
                                    class="h-32"
                                />
                                <div
                                    class="absolute bottom-2 right-2 flex gap-x-3"
                                >
                                    <Link
                                        text=".png"
                                        url="https://raw.githubusercontent.com/catto-labs/brand/main/catto-labs/logotype/cattolabs-logotype-coloured-1024w.png"
                                    />
                                    <Link
                                        text=".svg"
                                        url="https://raw.githubusercontent.com/catto-labs/brand/main/catto-labs/logotype/cattolabs-logotype-coloured.svg"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="more" class="gap-y-8 flex flex-col">
                <div class="flex flex-col gap-y-2">
                    <h3 class="text-2xl">Looking for more?</h3>
                    <Link
                        text="Click here to see our full catalogue of options!"
                        url="https://github.com/catto-labs/brand"
                    />
                </div>
            </section>
        </section>
    </main>
</Base>

<style>
    .icon {
        @apply my-auto text-text transition duration-500 ease-in-out;
    }
</style>
