---
const { text, url } = Astro.props;
---

<a
    href={url}
    class={`group inline-flex relative sm:gap-x-1 sm:rounded-full overflow-hidden sm:px-2 sm:py-1 sm:bg-surface0 hover:bg-surface1 border border-surface2 transition ease-in-out duration-[250ms]`}
>
    <slot />
    <span class="duration-[250ms] transition text-sm hidden sm:block"
        >{text}</span
    >
    <div
        class="absolute top-0 -inset-full h-full w-1/2 z-50 block transform -skew-x-12 bg-white opacity-20 group-hover:animate-shine"
    >
    </div>
    <div
        class="absolute top-0 -inset-full h-full w-1/3 z-50 block transform -skew-x-12 bg-white opacity-20 group-hover:animate-shine"
    >
    </div>
</a>
