<div class="sm:flex hidden flex-col gap-y-2 items-center sm:items-start">
    <strong>Role</strong>
    <div
        class="flex flex-wrap gap-x-3 md:gap-x-[0.375rem] gap-y-2 relative z-40"
    >
        <slot />
    </div>
</div>
