---
import "@fontsource-variable/red-hat-text";

import Header from "../components/global/Header.jsx";
import Footer from "../components/global/Footer.jsx";
---

<html lang="en">
    <head>
        <!-- The unimportant stuff -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <!-- Website metadata -->
        <title>catto.labs</title>
        <meta property="og:title" content="catto labs" />
        <meta
            name="description"
            content="We are catto labs, a team of developers around the world who want to have some fun creating projects together."
        />

        <!-- catto labs branding -->
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta property="og:image" content="/banner.png" />

        <!-- miscellaneous properties -->
        <meta name="twitter:card" content="summary" />

        <!-- uhhhh -->
        <meta
            name="keywords"
            content="HTML, CSS, JavaScript, Rust, TypeScript, Vue, Cats, RUBS, CATS, Stacks, Solid, JS, Astro, Catto, catto, labs, Pokaimon, undefined, labs, unocss, tailwindcss, tailwind, pronote, pawnote, pokaimon.moe, Supabase, Hackathon, trobo, trobonox, vexcited, pnxl, pixel, flexbox, github, git, Cloudflare, Netlify"
        />
    </head>
    <body
        class="macchiato bg-mantle text-subtext0 flex flex-col justify-between min-h-screen"
    >
        <div class="mx-4 sm:mx-8 md:mx-16 lg:mx-32 my-8 md:my-12 lg:my-16">
            <Header />
            <slot />
        </div>
        <Footer />
    </body>
</html>
